/aclocal.m4
/autom4te.cache/*
/config.log
/config.status
/configure
/src/io/kripke.cc
/src/io/kripke.dir/*
/src/io/kripke.hh
/src/io/kripke-lexer.cc
/src/io/kripke.lo
/src/io/.libs/*
/src/io/location.hh
/src/io/position.hh
/src/io/stack.hh
.\#*\#
*~
*.back
*.bak
*.html
*.la
*.lo
*.output
*.Plo
*.stamp
*.xml
\#*\#
build-aux/bin/bison++
ChangeLog
libtool
Makefile
Makefile.in
src/config.h
src/config.in.h
src/stamp-h1
