/aclocal.m4
/autom4te.cache/*
/_build/*
/build-aux
/config.log
/config.status
/configure
/src/ctlparse/ctl.cc
/src/ctlparse/ctl.dir/*
/src/ctlparse/ctl.hh
/src/ctlparse/ctl-lexer.cc
/src/ctlparse/location.hh
/src/ctlparse/position.hh
/src/ctlparse/stack.hh
/src/io/kripke.cc
/src/io/kripke.hh
/src/io/kripke-lexer.cc
/src/io/kripke.lo
/src/io/.libs/*
/src/io/location.hh
/src/io/position.hh
/src/io/stack.hh
/src/kripkeparse/kripke.cc
/src/kripkeparse/kripke.dir/*
/src/kripkeparse/kripke.hh
/src/kripkeparse/kripke-lexer.cc
/src/kripkeparse/location.hh
/src/kripkeparse/position.hh
/src/kripkeparse/stack.hh
/src/.libs/*
/src/maca
/tests/.libs/*
/tests/parse_ctl
/tests/parse_kripke
.\#*\#
*~
*.back
*.bak
*.html
*.la
*.lai
*.lo
*.log
*.o
*.output
*.Plo
*.Po
*.so
*.so.*
*.stamp
*.xml
\#*\#
build-aux/bin/bison++
ChangeLog
libtool
Makefile
Makefile.in
src/config.h
src/config.in.h
src/stamp-h1
